<% include head.ejs %>

<div id='pop'></div>
<nav class='small-12 columns'>
    <ul>
        <li class='small-4 columns'>
            <img style='float: left' src="http://localhost:3000/logo.png" id="logo" />
            <h2 class='small-8 columns'>Doc Love</h2>
        </li>
        <li class='small-2 columns fill'></li>
        <li class='small-6 columns'>
            <h2 class='small-10 columns fill'><%=name %></h2>
            <a href='/signout' class='small-2 columns fill lout' >Log Out</a>
        </li>
    </ul>
</nav>
<aside class='small-3 columns'>
    <ul>
        <% if(!docs){ %>
            <li id='login'>
                <h2> Sign In to create documents</h2>
                <p><%=docs %></p>
            </li>
        <% }else{ %>
            <a href='/new'><button id="add">New Note</button></a>
            <% for(var i=0; i<docs.length;i++) {%>
            
            <li>
                <h3 class='small-8 columns'><%=docs[i].header %></h3>
                <a href='/delete?id=<%=docs[i].id %>'>
                <div class='small-4 columns'><span class='error'>delete</span></div>
                </a>
                <a href='/docz/<%=docs[i].id %>'>
                    <p class='small-12 columns'><%=docs[i].cont %></p>
                </a>
            </li>
            <% } %>
        <% } %>
    </ul>
</aside>
<section class='app small-9 columns'>
<% if(!!doc.id){%>
        <input id='header' type="text" class='small-12 columns' value="<%=doc.header %>" docId="<%=doc.id %>" />
        <textarea class='small-12 columns'><%=doc.cont %></textarea>
<% } %>
</section>

<% include foot.ejs %>